body{
    margin: 5%;
}
section{
    display: flex;
}
button{
    padding: 1%;
    font-size: 15px;
    /* font-weight: ;
    border: ;
    border-radius: ;  */
}
.sixty{
    width: 60%;
}
img{
    height: 400px;
}
.forty{
    width: 40%;
}
#develop{
    display: flex;
    flex-direction: row;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    align-items: center;
}
.flexible-container{
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-left: 10% ;
    margin-right: 10%;
    margin-bottom: 100px;
    padding: 5px 2px;
    height: 30%;
}
.mission{
    border: 1px solid none;
    border-radius: 10px;
    border-color: none;
    padding: 10px;
}
#bg1{
    background-color: rgba(227, 128, 240, 0.733);
}
.height img{
    height: 300px;
}