body{
    margin:0;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.text{
    margin-top: 100px;
    margin-left:50px;
}
.half-space{
    width: 40%;
    padding: 5%;
}
.photo{
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
}
.link-button{
    border-radius: 10px;
    text-decoration: none;
    padding:10px;
    background-color: #d12c55;
    color: whitesmoke;
}
p{
    font-weight: 550;
    padding: 5px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px ;
}
h1{
    font-size: 60px;
    padding-left: 15px;
}
h3{
    font-size: 25px;
    font-weight: 900;
}

.code-blue{
   color: #1854ad ;
}
.side-bar{
    border-left: 4px solid #28d182 ;
    border-image-slice: 1;
    border-radius: 4px;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.containers{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 80%;
}
.content-box{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: none;
    padding: 5px 30px;
}
.content-box img{
    width: 50%;
}
#mission{
    background-color: #8fc0d8;
}
#vission{
    background-color: #e7bce2 ;
}
#goal{
    background-color: #bcc2e7;
}
.banner2{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat:no-repeat ;
    background-position:left;
    background-size: 300px 300px;
}
.banner3{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat:no-repeat ;
    background-position: right;
    background-size: 300px 300px;
}
#contact{
    font-size: 15px;
    color: black;
    padding: 10px;
    margin-top: 10px ;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 15%;
}
.bottom{
    text-align: center; 
}
footer{
    text-align: center;
    color: rgb(95, 94, 91);
    margin-top: 90px;
    padding: 40px;
    background-color: rgba(32, 29, 29, 0.952);
}
.footer-text{
    font-style: italic;
}